/* Estilos das classes */


/*HEADER*/
.menu{
    display:flex;
    justify-content: center;
}

.menu__item{
    margin: 0px 20px 0px 20px;
}

.conteudo__header{
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}

.conteudo__header__info{
    display:flex;
    flex-direction: column;
    max-width: 45%;
    
}

.fotoperf{
    background-image: url("../imgs/fotoperfil.jpeg");
    width:264px;
    border:15px solid #2b3467;
    border-radius:50%;
    aspect-ratio:1;
    background-size:cover;
    background-position: center;

}

.conteudo__header__imgs{
    display:flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    margin: 5% 0 0 0;
}

.conteudo__header__imgs__links{
    flex:none;
    max-width: 100%;
    display:inline-flex;
    justify-content: space-between;
}

.conteudo__header__imgs__links__imgs{
    display: flex;
    max-width:20%;
    justify-content: space-evenly;
}

/*MAIN*/

.sobre_mim{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobre_mim__foto{
    display:inline-flex;
    box-shadow: 5px 5px 16px #b4bbc0;
    width:400px;
    border-radius:8px;
    background-color: #07cdf0;
}

.topicos{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:30px;

}

.topicos__caixas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topicos__caixas__fdp{
    display:none;
    flex-wrap: wrap;
    justify-content: center;
    gap:80px;
    align-items: center;
}

.pintura{
    display:none;
    width:150px;
    height:200px;
    box-shadow: 5px 5px 16px #b4bbc0;
}

.topicos__icons{
    display:flex;
    flex-wrap:nowrap;
    justify-content:flex-start;
    margin:0 0 0 12%;
}

.foto_interesse{
    width:55px
}

/*FOOTER*/
.footer__informacoes{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.foto_footer{
    width:30px;
    height:30px;
}

.icon__mobile{
    display:none;
}

.menu__mobile{
    display:none;
    list-style: none;
}
